:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-button: #f4c60e;
  --color-button-hover: #e5b60b;
  --shadow-soft:0px 0px 16px 10px rgba(0, 0, 0, 0.1);
}

:root{
  --font-nunito: "Nunito";
  --font-Righteous: "Righteous";

  --size-small: 1.5rem;
  --size-medium: 2rem;
  --size-large: 3rem;
}

.button-general {
  background: var(--color-button);
  font-family: var(--font-nunito);
  font-size: var(--size-small);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.5rem 3.5rem;
  cursor: pointer;
  box-shadow: var(--shadow-soft);
}

.green{
  background: greenyellow;
}

.red{
  background: red;
}
.disabled{
  background: #939393;
  opacity: 0.5;
}

@media(min-width:700px){
  .button-general:hover{
    background:var(--color-button-hover);
  }
}