.options{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.options__title{
  font-family: var(--font-nunito);
  font-size: var(--size-medium);
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.themas__list{
  display: grid;
  align-items: center;
  justify-content: center;
  gap:1rem ;
}

.options__choose-button{
  width: 300px !important;
}

@media (min-width: 700px) {
  .options__title{
    font-size: var(--size-large);
  }
  .options__choose{
    gap: 1.5rem;
  }
  .options__choose-button{
    width: 400px !important;
  }
}