.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.questions__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions__counters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}
.questions__counter-number{
  width: 50px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  font-family: var(--font-nunito);
  color: var(--color-white);
  font-size: var(--size-small);
  
}
.counters__wrap {
  font-family: var(--font-nunito);
  color: var(--color-white);
  font-size: var(--size-small);
  padding: 10px 20px;
  position: relative;
  
}
.counter__points{
  display: flex;
  align-items: center;
  gap: 5px;
}

.questions__board {
  max-width: 600px;
  text-align: center;
  font-family: var(--font-nunito);
  font-size: 1.3rem;
  color: var(--color-white);
  padding: 2rem 1rem;
}
.questions__help{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.help__button{
  flex: 1;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: var(--shadow-soft);
  cursor: pointer;
}
.help__button img{
  width: 40px;
  min-width: 40px;
margin-left: 5px;
margin-top: 4px;
}


.questions__response-wrap {
display: flex;
flex-direction: column;
gap: 1rem;
padding: 10px;

}
.response__options{
  min-width: 300px;
  padding: 1.5rem ;
  
  
  box-shadow: var(--shadow-soft);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;    

  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
 
  
}
.response__options--alternative{
  font-family: var(--font-Righteous);
  font-size: 2rem;
  color: var(--color-button);
}
.alternative__text{
  flex: 1;
  text-align: center;
  font-family: var(--font-nunito);
  font-size: 1.3rem;
}
.alternative__text p{
  word-break: break-all;
 
}
.questions__desistir{
  margin-top: 1rem;
}

@media (min-width: 760px) {
  .questions {
    max-width: 1200px;
    flex-direction: row;
    align-items: start;
  
    gap: 3rem;
  }
  .questions__counters {
 
    justify-content: space-between;
  }

  .questions__wrap {
    gap:2rem;
  }
  .questions__help{
    gap: 3rem;
  }

  .response__options:hover, .help__button:hover{
    transform: scale(1.03);
    transition: .3s;

  }
  .response__options{
    min-width: 350px;
  }
}