/* Tags gerais */
* {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

button{
  border: none;
}


/* container  */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}


