.modal__desistir {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
}


.desistir__title-coin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.desistir__title-coin::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/icons/icons8-dogecoin-49.png"), no-repeat;
  background-size: 30px;
}
@media (min-width: 700px) {
  .modal__desistir {
    width: 500px;
  }
  .desistir__title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
