.modal__people{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

.people__list{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.people__card{
display: flex;
flex-direction: column;
align-items: center;
}
.people__card--alternative{
    font-family: var(--font-nunito);
    font-size: var(--size-medium);


}

